body,ul{ 
	margin: 0; 
	padding: 0
}
a {
	color: rgb(1, 124, 185);
	text-decoration: none;
}
input:focus {
	outline: none 0;
}
body{ 
	color: black; 
	font: 14px 'Arial';
}
body,
li:first-child:after,
li:last-child:after{
	background:white;
}
.box{ 
	position: relative; 
	width: 384px; 
	height: 140px; 
	margin: 50px auto;
}
.box li{ 
	list-style-type: none; 
	margin-bottom: 10px; 
	border-radius: 5px; 
	overflow: hidden; 
	position: relative; 
	height: 42px;
}
.box li input{
	box-shadow:inset 0 0 5px rgba(0,0,0,.5),-1px 1px 0 rgba(255,255,255,.05); 
	border:0 none; 
	padding:8px 5px 5px;  
	border-radius: 5px; 
	width:300px;  
	height: 28px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	background: rgba(0,0,0,.1); 
	color: black;
} 

.box li:first-child:after,
.box li:last-child:after{ 
	position: absolute;
	width: 50px; 
	height: 50px; 
	content: ""; 
	border-radius: 25px;
	z-index: 2; 
	right: -23px;
	box-shadow: 0 0 8px rgba(0,0,0,.5);
}
::-webkit-input-placeholder { 
	color:#999; 
	font-weight: bold;
}
.box li:first-child:after{
	top: 15px;
}
.box li:last-child:after{
	bottom:15px;
}
.box label{ 
	width: 70px; 
	display: inline-block; 
	text-align: right;
	color:black
}
.box span{ 
	display: block; 
	color: black; 
	padding-left: 75px;
}
.button{ 
	position: absolute; 
	top: 24px; 
	right: -30px; 
	width: 44px; 
	height: 44px; 
	border-radius: 22px; 
	border:1px solid black; 
	background: -webkit-linear-gradient(top,#029ecd,#0d7796); 
	color: black; 
	text-shadow:1px 1px 0 #666; 
	box-shadow:0 0 0 5px #2c2c2c; 
	z-index: 3; 
	text-align: center; 
	line-height: 46px;
	-webkit-transition: all 0.28s ease-in;
	-moz--transition: all 0.28s ease-in;
}
.button:hover{ 
	-webkit-transform:rotate(90deg); 
}
@font-face {
  font-family: 'FontAwesome';
  src: url('font/fontawesome-webfont.eot');
  src: url('font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), 
url('font/fontawesome-webfont.woff') format('woff'), 
url('font/fontawesome-webfont.ttf') format('truetype'), 
url('font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-arrow-right:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 26px;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  content: "\f061";
}
.top{
	width:1025px;
	height:10px;
	margin:0 auto;
	background:url('../img/gg.png')
}
#aa{
	border:1px solid #ccc;
	width:800px;
	margin:50px auto;
	border-radius: 22px;
	box-shadow:0 0 0 2px #317EE6;
}
a:hover{
	color:red;
}
form{
	margin-bottom:30px;
}